body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white; /* Asegura que el texto en el cuerpo sea blanco */
}

/* Navbar */
nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0; /* Aumentado de 10px a 15px */
    position: relative; /* Para posicionar el indicador de página */
}

.nav-options {
    display: inline-block; /* Para centrar el menú */
}

.nav-options a {
    color: white; /* Color de texto de los enlaces */
    text-decoration: none;
    margin: 0 20px; /* Aumentado para mayor separación */
    font-size: 20px; /* Aumentado de 18px a 20px */
    padding: 15px 20px; /* Aumentado de 10px 15px a 15px 20px */
}

.nav-options a.active {
    border-bottom: 3px solid #fff; /* Resaltado del enlace activo */
}

.page-indicator {
    color: #00bcd4; /* Color turquesa */
    font-size: 16px; /* Aumentado de 14px a 16px */
    position: absolute; /* Cambiado a absolute */
    right: 15px; /* Posicionado a la derecha */
    top: 10px; /* Ajustar la posición vertical */
    animation: slideIn 0.5s ease; /* Añadir animación */
}

/* Animación de desplazamiento */
@keyframes slideIn {
    from {
        transform: translateX(10px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Línea con transparencia */
.line {
    height: 5px;
    background: linear-gradient(to right, rgba(0, 188, 212, 0) 0%, #00bcd4 50%, rgba(0, 188, 212, 0) 100%);
    margin: 0;
}

.content {
    padding: 20px;
    text-align: center;
}
.social-media {
    position: fixed; /* Fija la posición en la pantalla */
    bottom: 20px; /* Espaciado desde el fondo */
    left: 20px; /* Espaciado desde la izquierda */
    display: flex; /* Usa flexbox para alinear las imágenes */
}

.social-icon {
    width: 35px; /* Ajusta el tamaño de las imágenes */
    height: 35px; /* Mantiene la proporción */
    margin-right: 10px; /* Espacio entre las imágenes */
}
